*{
  font-family: 'Montserrat', sans-serif;
}


[class*="col-"]{
  /* float: left; */
  /* height: 100px; */
  /* border: 1px solid black; */

}



#header1 .row{
  display:flex;
}

#header2 .row{
  display:flex;
}

#jumbo .row{
  display:flex;
}

#getstarted .row{
  display: flex;
}

footer .row{
  display: flex;
}

.containerf{
  width: 100%;
}

.margine{
  width: 80%;
  margin: 0 auto;
}

#header1{
  height: 100px;
  line-height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 900;

}

.stilelogo{
  height: 100px;
}

.stilelogo a{
  width: 100%;
}



.stilelogo{
  width: 100%;
}

.stilenavcen{
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
}

.stilenavcen a{
  text-decoration: none;
  color: #5b6886;
}

.stilenavcen span{
  padding: 50px 10px;
}

.stilenavcen span i{
  font-size: 0.8rem;
}

.stilelogo img{
  width: 100%;
  vertical-align: middle;
}

.stilenavdx{
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
}

.stilenavdx a{
  text-decoration: none;
  color: #5b6886;
}

.stilenavdx span{
  padding: 50px 10px;
  text-align: center;
}

.stilenavdx span i{
  font-size: 0.8rem;
}

#bsignup{
  color: cyan;
  border-radius: 10px;
  border: 1px solid cyan;
  padding: 10px;
}

#header2{
  height: 50px;
  line-height: 50px;
  display: none;

}

.stileham{
  width: 80%;
  margin: auto;
  text-align: center;
}

.stileham i{
  color: cyan;
}

#jumbo{
  margin-top: 100px;
  background-image: url("img/jumbo.svg");
  background-size: 100%;
}

#jumbo .stileh h1{
  font-size: 4rem;
  font-weight: bolder;
  color: white;
}

#jumbo .stileh{
  padding-top: 50px;
}

#jumbo .stilep{
  padding-bottom: 50px;
}

#jumbo .stilep p{
  font-size: 1.8rem;
  color: white;
}

.form{
  background-color: white;
  border-radius: 10px;
  margin-top: 50px;
}

.stilecta{
  padding-top: 50px;
  margin: auto;
  text-align: center;
  font-size: 2rem;
  font-weight: bolder;
}

.stilecta a{
  text-decoration: none;
}

.gs{
  color: cyan;
}

.stileinput{
  width: 90%;
  margin: auto;
}

.stileinput input{
  height: 40px;
  width: 100%;
  margin: 10px auto;
  border-radius: 5px;
  font-weight: bold;
}

.create{
  width: 90%;
  margin: auto;
  background: cyan;
  border-radius: 5px;
  text-align: center;
  padding: 10px 0;
  font-weight: bold;
  margin-bottom: 10px;

}

.create a{
  text-decoration: none;
  color: white;
}

.signup{
  width: 90%;
  margin: auto;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0px 5px 5px 0 grey;
  padding: 10px 0;
  font-weight: bold;
  margin-bottom: 10px;
  position: relative;
}

.signup img{
  width: 20px;
  position: absolute;
  left: 5px;
}

.terms{
  text-align: center;
  width: 90%;
  margin: auto;
  padding-bottom: 20px;
  font-weight: bold;
}

#grigio{
  background-color: #f3f5f9;
}

.loghiflex{
  display: flex;
  flex-wrap: wrap;
}

.innovative{
  text-align: center;
  color: grey;
  padding: 50px 0;
  font-weight: bold;
  font-size: 1.25rem;

}
.stileloghi{
  height: 100px;
  display: flex;
  flex-basis: 20%;
}
.stileloghi img{
  height: 100%;
  width: 100%;
  /* flex-wrap: wrap; */
}
.stileview{
  color: cyan;
  text-align: center;
  padding: 30px 0;
  font-weight: bold;
  font-size: 1.2rem;
}

#deploy{
  background-color: white;
}


.stilehdeploy{
  color: black;
  font-size: 2.5rem;
  font-weight: bolder;
  text-align: center;
  padding: 30px 0
}
.stilepdeploy{
  text-align: center;
  color: grey;
  font-weight: bold;
  font-size: 1.5rem;
  padding-bottom: 30px;
}

.borlg{
  border-left: 1px solid lightgrey;
}

.stileul{
  font-size: 2rem;
  padding-top: 50px;
  border-left: grey;
}

.stileul li{
  list-style-type: none;
  padding: 15px;
  color: grey;
}

.carta{
  padding: 50px;
}

.stilehcarta{
  padding: 15px 0;
  font-weight: bolder;
  font-size: 1.3rem;
}

.stilepcarta{
  font-weight: bold;
  color: grey;

}

#designed{
  background-color: #f3f5f9;
  /* position: relative; */
}

#designed .margine{
  padding: 50px;
}

.stilehdesigned{
  text-align: center;
  font-weight: bolder;
  font-size: 2rem;
  padding-bottom: 25px;

}

.stilepdesigned{
  text-align: center;
  color: grey;
  padding: 25px 0;
  font-size: 1.3rem;
  font-weight: bold;
}

.stileimgdesigned{
  margin: 25px 20px 20px 20px;
  position: relative;
}

.stileimgdesigned img{
  width: 100%;
  ;
}

#designed .stilearrowl{
  position: absolute;
  top: 20%;
  left: -50px;
}

#designed .stilearrowr{
  position: absolute;
  top: 20%;
  right: -50px;
}

.stilearrowl i{
  padding-top: 200px;
  font-size: 3rem;
  font-weight: bolder;
}

.stilearrowr i{
  padding-top: 200px;
  font-size: 3rem;
  font-weight: bolder;
}

.stilefotdes{
  text-align: center;
  font-weight: bold;
  margin: 15px 0;
}

.pallini{
  text-align: center;
}

.pallini i{
  color: cyan;
  padding: 2px;
}

#features .margine{
  margin-top: 50px;
  margin-bottom: 50px;
}

.stilehfeatures{
  text-align: center;
  font-weight: bolder;
  font-size: 2rem;
  padding-bottom: 25px;

}
.stileblucarta{
  padding: 10px 0;
}

.stileblucarta span{
  padding-right: 10px;
}

.stileblucarta a{
  text-decoration: none;
  color: cyan;
  font-weight: bold;

}

#features .provaflex{

  display: flex;

}
#service{
  background: linear-gradient(to bottom, #2285fd, #031c4e);
}

#service .margine{
  padding-top: 50px;
  padding-bottom: 50px;
}

.stilehservice{
  font-weight: bolder;
  color: white;
  text-align: center;
  font-size: 2rem;
}

.blutable{
  padding: 30px 0;
  display: inline;
}


.blutable span{
  border-bottom: 1px solid white;
  padding: 15px 0;

}

.blutable span:last-child,
.blutable span:nth-child(16),
.blutable span:nth-child(17){
  border-bottom: none;
}

.blutable span:first-child,
.blutable span:nth-child(4),
.blutable span:nth-child(7),
.blutable span:nth-child(10),
.blutable span:nth-child(13),
.blutable span:nth-child(16){
  font-weight: bold;
  color: white;
  padding-left: 15px;
}
.blutable span:nth-child(2),
.blutable span:nth-child(5),
.blutable span:nth-child(8),
.blutable span:nth-child(11),
.blutable span:nth-child(14),
.blutable span:nth-child(17){
  color: grey;
}
.blutable span:nth-child(3),
.blutable span:nth-child(6),
.blutable span:nth-child(9),
.blutable span:nth-child(12),
.blutable span:nth-child(15),
.blutable span:nth-child(18){
color: cyan;
}

#development{
  background-color: #f3f5f9;
}

#development .stilehdesigned{
  padding: 50px 0;
}
.stileimgrockerbox{
  padding: 50px 0 25px 0;
  background-color: white;
  text-align: center;
}
.stileprockerbox{
  text-align: center;
  color: grey;
  font-weight: bold;
  font-size: 1.4rem;
  background-color: white;
  padding-bottom: 15px;
}

.stilerick{
  text-align: center;
  font-weight: bold;
  background-color: white;
}

.stileco{
  text-align: center;
  padding-bottom: 30px;
  background-color: white;
}

.stileread{
  text-align: center;
  padding-bottom: 50px;
  background-color: white;
}

.stileread a{
  text-decoration: none;
  color: cyan;
}

.stileread span{
  padding: 5px
}

#development .stilearrowl i{
  padding-top: 140px;
  padding-right: 10px;
}

#development .stilearrowr i{
  padding-top: 140px;
  padding-left: 10px;
}

#development .pallini{
  padding: 50px 0;
}

#getstarted{
  background-color: blue;
}

.stilehget{
  color: white;
  text-align: center;
  font-weight: bolder;
  font-size: 2rem;
  padding: 50px 0 20px 0;
}

.stilebutcreate{
  text-align: center;
  padding: 20px 0 50px 0;

}

.stilebutcreate a{
  text-decoration: none;
  color: cyan;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
}

footer{
background: linear-gradient(to top, #2285fd, #031c4e);
}

.stilecol1fot{
  padding-top: 50px;
}

.allright{
  color: lightgrey;
  padding-top: 15px;
}

.proudly{
  color: grey;
  padding-bottom: 15px;
}

.social span{
  padding: 5px;
  color: lightgrey;
  font-size: 1.5rem;
}

.stilecol2fot {
  padding: 50px 0;
}

.stilecol2fot li{
list-style-type: none;
padding: 5px;
color: lightgrey;
}

.stilecol2fot li:first-child{
  font-weight: bold;
  color: white;
}
@media all and (max-width:766px){
  #header1{display: none;
  }
  #header2{
    display: block;
  }

  .margine{
    width: 95%;
    margin: auto;
  }

  #jumbo{
    margin-top: 0;
  }

  #jumbo .stileh h1{
    font-size: 1.7rem;
  }

  #jumbo .stilep p{
    font-size: 1.2rem;
  }

  .stilehdeploy{
    font-size: 1.7rem;
  }
  .stilepdeploy{
    font-size: 1rem;
    font-weight: normal;
  }

  .stileul{
    font-size: 1rem;
    border-left: 1px solid lightgrey;
    padding: 10px 0;
  }

  .carta{
    padding: 0;
  }

  #designed .stilearrowl, #designed .stilearrowr{
    display: none;
  }
  .stileimgdesigned{
    margin: auto;
    width: 200%;
  }

  #designed .margine{
    width: 95%;
    padding: 0;

  }

  .stilehdesigned{
    font-size: 1.7rem;
    margin: 25px 0;
    padding-bottom: 0;
  }
  .stilefotdes{
    padding-bottom: 50px;
  }
  .pallini{
    padding-bottom: 50px;
  }
  .stilehfeatures{
    font-size: 1.7rem;
  }
  .blutable span{
    font-size: 0.5rem;
  }

  #development .stilearrowl, #development .stilearrowr{
    display: none;
  }
  .stileimgrockerbox, .stileprockerbox, .stilerick, .stileco, .stileread{
    width: 200%;
    margin: auto;
  }
}

@media all and (min-width:767px) and (max-width:991px){
  #header1{display: none;
  }
  #header2{
    display: block;
  }
  .margine{
    width: 95%;
    margin: auto;
  }
  #jumbo{
    margin-top: 0;
  }
  #jumbo .stileh h1{
    font-size: 2.5rem;
  }
  #jumbo .stilep{
    margin-top: 20px;
  }
  #jumbo .stilep p{
    font-size: 1.5rem;
  }
  .form{
    margin-bottom: 50px;
  }
  .stileul{
    font-size: 1rem;
    border-left: 1px solid lightgrey;
    margin-top: 50px;
    padding-top: 0;
  }
  .carta{
    padding: 15px;
  }

  #designed .stilearrowl i, #designed .stilearrowr i{
    padding-top: 100px;
  }
  .blutable span{
    font-size: 0.5rem;

  }

}
